*{
    margin: ;
    padding: 0;
}
nav{
    background-color: black;
    justify-content: center;
    display: flex;
    }
    nav a{
        color: white;
        text-decoration: none;

    }
nav ul{
    display: flex;
    
}
nav li{
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #555;
}
nav li:hover{
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #777;
}
header,h2{
    text-align: center;
    
}
.form{
    align-items: center;
    background-color: aliceblue;
    width: 500px;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    color:  #4CAF50;
    border-radius: 19px;
    display: flex;
    flex-direction: column;


}
.form .input{
    border-radius: 5px;
    padding: 10px ;
    width: 300px;
}
form label{
    text-align:left;
    margin: 5x;
    }
    table{
    border-collapse:collapse ;
    margin: 0 auto;

}
table tr, th ,td {
    border: 1px solid rgb(59, 45, 40);
    padding: 20px;
}
.button{
    background-color:  #f87f76;
    border-radius: 5px;
    color: azure;
    padding: 5px;
}
.submit{
    background-color:  #334e30;
    border-radius: 5px;
    color: azure;
    padding: 5px;
}
table{
    margin-top: 100px;
}
table th{
    background-color:#333;
    color: azure;
}